[submodule "rl-trained-agents"]
	path = rl-trained-agents
	url = https://github.com/DLR-RM/rl-trained-agents
[submodule "stable-baselines3-contrib"]
	path = stable-baselines3-contrib
	url = https://github.com/Stable-Baselines-Team/stable-baselines3-contrib.git
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3.git
